
@{
    ViewBag.Title = "Forside";
}
<br /><br /><br />
<h2 style="text-align:center; text-decoration:underline">Velkommen til din nettbank</h2>

<br /><br /><br />

<div>
    <p style="text-decoration:underline">Klikk her for å logge inn i din nettbank</p>
    <button onclick="location.href = '/Bruker/Login';" class="btn btn-default">Logg inn</button>
</div>
<br /><br />
<div style="text-align:center">
    <img src="~/Content/Hioa.png" alt="HIOA" style="width:800px; height:500px;">
</div>


